@model testwebapplication.Models.mymodel
@{
    ViewBag.Title = "About";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@Model.name</h4>
<h4>@Model.lastname</h4>

<p>Use this area to provide additional information.</p>
<h2>Location: @ViewBag.Location</h2>